@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    background-image: url("./img/background.jpg");
    background-size: cover;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    background-color: white;
    opacity: 0.7;
}

nav {
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    margin-left: 150px;
    margin-right: 150px;
    color: grey;
}

/* index.html */
.logo {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}  
.main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}
.btn {
        padding: 15px 35px;
        display: inline-block;
        border: 1px solid white;
        position: relative;
        text-align: center;
        background-color: #5CBCA9;
        color: white;
        border-radius: 10px;
        text-align: center;
        font-size: 22px;
}

/* spending.html */
.spending_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.spending_text {
    text-align: left;
    margin-bottom: 20px;
}

.spending_chart_div {
    background-color: white;
    text-align: center;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 900px;
    height: 1000px;
    position: relative;
    margin-bottom: 20px;
}
.btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.btn_div button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative; /* 추가된 부분 */
}

.btn_div button::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #000; /* 삼각형 색상 설정 */
    margin-right: 8px;
    position: absolute; /* 추가된 부분 */
    left: 0; /* 추가된 부분 */
    top: 50%; /* 추가된 부분 */
    transform: translateY(-50%); /* 추가된 부분 */
}

.btn_div button:first-child::before {
    margin-right: 8px; /* margin-right 값을 8px로 변경합니다. */
    margin-left: 0; /* margin-left 속성을 제거합니다. */
    border-width: 6px 10px 6px 0; /* 삼각형의 방향을 반대로 변경하기 위해 border-width 값을 수정합니다. */
    border-color: transparent #000 transparent transparent; /* 삼각형의 방향을 반대로 변경하기 위해 border-color 값을 수정합니다. */
    left: 0; /* left 속성을 제거합니다. */
    right: auto; /* right 속성을 추가하고 auto로 설정합니다. */
}

#myPieChart {
    margin-top: 80px; /* 추가된 부분: 원차트와의 간격 조정 */
}

/* hanamoney_html */
.hanamoney_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.hanamoney_text {
    text-align: left;
    margin-bottom: 20px;
}
.hanamoney_chart_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 1000px;
    height: 500px;
}
.box_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.chart_box_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    margin: 7px 7px 7px 7px;
    width: 150px;
    height: 150px;
    color: black;
}
.chart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.chart_div canvas {
    max-width: 100%;
    max-height: 100%;
}
.small_text {
    font-size: small;
}
.green_text {
    color: #008485;
}
.pink_text {
    color: #E90061;
}

/* about.html */
.about_main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.about_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.parent_div{
    margin-top: 50px;
    margin-bottom: 80px;
}
.child_div{
    transform-origin: 50% 0%;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 900px;
    height: 300px;
}
.icon-box {
    width: 200px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
}
.icon-box:hover {
    transform: scale( 1.1 )
}

/* mypage.html */
#login_main {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 900px;
    height: 500px;
}

#login_header {
    margin-top: 20px;
}

#login_error_msg_holder {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login_error_msg {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #E90061;
    border: 1px solid #E90061;
    background-color: #e58f8f;
    opacity: 0;
}

#error_msg_second_line {
    display: block;
}

#login_form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.login_form_field::placeholder {
    color: #3a3a3a;
}

.login_form_field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login_form_submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #5CBCA9;
    cursor: pointer;
    outline: none;
}